<%- include('./fragments/header.ejs') %>

<main>

    <h1>Dlaczego my?</h1>

    <p>Firma "Car & Bikes Rentals" świadczy usługi wynajmu samochodów w Warszawie od NIE pierwszego roku. Posiadamy duży park nowoczesnych maszyn, wyposażonych we wszystko, czego może sobie życzyć nawet najbardziej wymagający klient. Wynajem samochodu klasy biznesowej w Warszawie to wspaniała okazja, aby pokazać swój wysoki status partnerom, współpracownikom i innym osobom ważnym dla dobrobytu Twojej firmy.</p>

    <p>W "Car & Bikes Rentals" możesz wcześniej zarezerwować samochód klasy średniej, Premium lub biznesowej, na przykład Chevrolet Orlando, Nissan Qashqai lub Ford Mondeo. W każdej chwili możesz wypożyczyć tak ukochane i prawie "popularne" marki: Chevrolet Aveo, Ford Focus, Nissan Almera, Hyundai Solaris i wiele innych.</p>

    <p>Wszystkie samochody wynajmowane są w ramach pomocy technicznej, są ubezpieczone (w tym od wypadku pasażerów i kierowcy). Usługi wynajmu długoterminowego Car & Bikes Rentals" zapewnia klientom korporacyjnym po specjalnych niskich stawkach.</p>
</main>
<%- include('./fragments/footer.ejs') %>