* {
  box-sizing: border-box;
  font-family: 'Itim', cursive;
  font-size: 22px;
}


html {
  background-color: #ecf0f1;
  scroll-behavior: smooth;
}


body {
  min-width: 900px;
}

header,
main,
footer {
  background-color: white;
}

header,
main,
footer,
nav {
  margin: 1rem;
  border-radius: 15px
}

header {
  /* background-color: #34495e; */
  color: white;
  padding: 1rem;
  background-image: url('https://media3.giphy.com/media/oV7nDT9AiJyes/giphy.gif');
}

footer {
  /* background-color: #34495e; */
  color: white;
  padding: 1rem;
  background-image: url('https://64.media.tumblr.com/c3eb3a7ea13ab6dbb6de9c628b7aab9c/tumblr_ngp7s6DeEu1s2t3cto1_500.gifv');
}

header {
  display: flex;
  justify-content: space-between;

}

header h1 {

  font-size: 2.8rem;
  padding: 25px;
  font-family: 'Comfortaa', cursive, sans-serif;


}

h2 {
  font-size: 1.8rem;
}


a {
  cursor: url(../Images/pointer.png), pointer;
  transition: cursor .3s;
}

a:active {
  cursor: url(../Images/pointer-click.png), pointer;
}


.MainPage h2,
p,
span {
  font-family: 'Open Sans', sans-serif;
}

.MainPage span {
  text-decoration: underline;
}

header img {

  height: 250px;
  border-radius: 100%;

}


nav {
  background-color: #D3D3D3;
  position: sticky;
  top: 0;

}

nav ul {
  padding: 0;
  display: flex;
  list-style-type: none;
}



nav ul li a {
  display: inline-block;
  color: #2c5040;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: background-color .5s;
  border-radius: 15px;
}

nav ul li a:hover {
  background-color: #42b987;
  color: #ecf1ef;


}


nav ul li a.active {
  background-color: #95a69c;
  color: #ecf1ef;
  border-radius: 15px;
}

main {
  padding: 1.5rem;
}


footer {
  text-align: center;
}


.MainParagraph {
  font-size: 1.1rem;
  font-weight: 700;
}

main h2 {
  border-bottom: 1px solid #7f8c8d;
  margin-bottom: 2rem;
}

.table-list {
  border-collapse: collapse;
  color: #2c3e50;
  width: 100%;

}

.table-list,
.table-list th,
.table-list td {
  border: 1px solid #ecf0f1;
}

.table-list th,
.table-list td {
  padding: 0.5rem;
}

.table-list th,
.table-list tbody tr:nth-child(even) {
  background-color: #ecf0f1;
}

.list-actions {
  margin: 0;
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.list-actions li {
  display: inline-block;
  /* Ułożenie elementów listy w poziomie: */

}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  transition: background-color .3s;

}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete {
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;

}

.list-actions-button-details,
.list-actions-button-edit {
  margin-right: 1rem;
}



.list-actions-button-details {
  background-color: #6c29b9;


}

.list-actions-button-details:hover {
  background-color: #521796;
}


.list-actions-button-edit {
  background-color: #de04de;


}

.list-actions-button-edit:hover {
  background-color: #c40ac4;

}

.list-actions-button-delete {
  background-color: #c0392b;

}

.list-actions-button-delete:hover {
  background-color: #e74c3c;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete,
.button-add {
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
}

.button-add {
  padding: 0.5rem 2rem;
  margin: 1rem;

}


.button-add {
  background-color: #2774ae;
  transition: background-color .3s;

}

.button-add:hover {
  background-color: #312ecc;
}


button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

textarea {
  overflow: auto;
}

.form {
  display: grid;
  grid-template-columns: 200px 370px 1fr;
  row-gap: 1rem;
}

.form span {
  margin: 10px;
}

.form select,
.form input[type="text"],
.form input[type="number"],
.form input[type="date"],
.form input[type="email"],
.form input[type="tel"] {
  border: 1px solid #7f8c8d;
  color: #2c3e50;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
}

.form label {
  display: block;
  margin-bottom: 0.5em;
}


.form-group {
  margin-bottom: 1rem;
}

sup {
  color: #c0392b;
}

.form-buttons {
  margin-top: 2rem;
  /* grid-column-end: -1; */
  grid-column: 1 / span 2;

}

.list-actions-button-details,
.list-actions-button-delete,
.button-add,
.form-button-submit,
.form-button-submit-detail,
.form-button-cancel,
.form-button-edit,
.form-button-cancel-detail,
.form-button-edit-detail {
  border: none;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
}

.button-add,
.form-button-submit,
.form-button-cancel,
.form-button-edit,
.form-button-cancel-detail,
.form-button-edit-detail,
.form-button-submit-detail {
  padding: 0.5rem 1rem;
  transition: background-color .3s;
}


.form-button-submit {
  background-color: #00c6c9;
}

.button-add:hover,
.form-button-submit:hover {
  background-color: #2ecca2;
}

.form-button-cancel,
.list-actions-button-delete,
.form-button-cancel-detail {
  background-color: #c0392b;
}

.form-button-edit,
.form-button-edit-detail {
  background-color: #00d7de;
}

.form-button-edit:hover,
.form-button-edit-detail:hover {
  background-color: #006bde;
}

.form-button-cancel:hover,
.list-actions-button-delete:hover,
.form-button-cancel-detail:hover {
  background-color: #e74c3c;
}

.form-button-submit,
.form-button-cancel,
.form-button-edit,
.form-button-cancel-detail,
.form-button-edit-detail,
.form-button-submit-detail {
  width: 100%;
}

.form-button-submit,
.form-button-cancel,
.form-button-edit,
.form-button-cancel-detail,
.form-button-edit-detail {
  box-sizing: border-box;
  display: block;
}



.tableList-details th,
.table-list th {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;

}


.tableList-details td,
.table-list td {
  text-align: center;
  border: 1px solid rgb(155, 155, 155);
  border-collapse: collapse;

}




.form-button-edit {
  margin-bottom: 0.5rem;
}

body {
  min-width: 360px;
}

.BackToTop {
  background-color: #bdc3c7;
  margin: 1rem;
  border-radius: 15px;
  color: black;
  padding: 0.2rem;
  text-align: center;
  text-decoration: none;

}

.BackToTopHref:link {
  text-decoration: none;
}




@media all and (max-width:865px) {
  header {
    flex-direction: column;
  }

  header h1 {
    text-align: center;
  }

  header img {
    align-self: center;
  }

  nav ul {
    flex-wrap: wrap;
  }

  nav ul li {
    flex-basis: 50%;
    text-align: center;
  }

  nav ul li a {
    display: block;
  }

  .form {
    grid-template-columns: 1fr;
    row-gap: unset;
    margin-left: unset;
  }

  .form .errors-text {
    margin-bottom: 1rem;
  }


  .form-buttons {
    grid-column: 1 / span 1;
  }

  table thead {
    text-align: center;
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    text-align: center;
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    text-align: center;
    border-bottom: 1px solid #ddd;
    display: grid;
    font-size: .8em;
    text-align: left;
  }

  table td::before {
    text-align: center;
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    text-align: center;
    border-bottom: 0;
  }
}

@media all and (max-width: 600px) {

  body,
  nav,
  nav ul,
  header,
  main,
  footer {
    margin: 0;
  }

  nav ul li {
    flex-basis: 100%;
  }

  nav {
    position: relative;
  }



  header h1 {

    margin: auto;
    font-size: 10vw;




  }

  header img {
    width: 0;
    height: 0;
  }


  table thead {
    text-align: center;
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    text-align: center;
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    text-align: center;
    border-bottom: 1px solid #ddd;
    display: grid;
    font-size: .8em;
    text-align: left;
  }

  table td::before {
    text-align: center;
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    text-align: center;
    border-bottom: 0;
  }


}



body {
  min-width: 360px;
}



.errors-text {
  font-size: 0.85em;
  line-height: 2.25rem;
  color: red;
}


.form input.error-input,
.form select.error-input {
  border: 3px solid #e74c3c;

}

.form input.NumerTelNotRequaired {
  border: 1px solid #7f8c8d;
}

/* .lista{
    overflow-x: auto;
} */

