<%- include('../../fragments/header.ejs') %>

<main>
    <h1>Szczegóły klienta</h1>

    <form class="form" action="SzczegółyKlienta">

        <label for="PassportId">Numer Paszportu:<sup style="color:#ff0000">*</sup></label>
        <input type="text" name="PassportId" value="FL86454" id="PassportId" disabled/>
        <span></span>

        <label for="name">Imie:<sup style="color:#ff0000">*</sup></label>
        <input type="text" name="name" value="Lili" id="name" disabled/>
        <span></span>

        <label for="surname">Nazwisko:<sup style="color:#ff0000">*</sup></label>
        <input type="text" name="surname" value="Christensen" id="surname" disabled/>
        <span></span>

        <label for="DateOfBirth">Data urodzenia:<sup style="color:#ff0000">*</sup></label>
        <input type="text" name="DateOfBirth" value="01.05.87" id="DateOfBirth" disabled/>
        <span></span>

        <label for="Telephone">Telefon:<sup style="color:#ff0000">*</sup></label>
        <input type="text" name="Telephone" id="Telephone" value="785485147" disabled/>
        <span></span>

        <label for="Email">Email:<sup style="color:#ff0000">*</sup></label>
        <input type="text" name="Email" value="wjdawjdaw@gmail.com" id="Email" disabled/>
        <span></span>

        <label for="Address">Adres:<sup style="color:#ff0000">*</sup></label>
        <input type="text" name="Address" value="Near 1" id="Address" disabled/>
        <span></span>

        <div class="form-buttons">
            <a href="customers-form.html" class="form-button-edit-detail">Edytuj</a>
        </div>
    </form>


    <h1>Szczegóły wypożyczeń</h1>

    <table class="table-list">
        <thead>
        <tr>
            <th>Numer Somochodu</th>
            <th>Marka</th>
            <th>Data wynajęcia</th>
            <th>Data oddania</th>
            <th>Cena za wynajęcie</th>
        </tr>
        </thead>

        <tr>
            <td data-label="Numer Somochodu">19874312</td>
            <td data-label="Marka">Tesla</td>
            <td data-label="Data wynajęcia">09.11.2020</td>
            <td data-label="Data oddania">11.11.2020</td>
            <td data-label="Cena za wynajęcie">300</td>
        </tr>
        <tr>
            <td data-label="Numer Somochodu">19874312</td>
            <td data-label="Marka">Tesla</td>
            <td data-label="Data wynajęcia">24.11.2020</td>
            <td data-label="Data oddania">27.11.2020</td>
            <td data-label="Cena za wynajęcie">450</td>
        </tr>
        <tbody>

        </tbody>
    </table>

    <div class="form-buttons">
        <a href="customers-list.html" class="form-button-cancel-detail">Powrót</a>
    </div>

    <a class="BackToTopHref" href="#top">
        <div class="BackToTop">
            ON THE TOP
        </div>
    </a>

</main>

<%- include('../../fragments/footer.ejs') %>