<%- include('../../fragments/header.ejs') %>

<main>
    <h1>Szczegóły wypożyczeń</h1>



    <form class="form" action="SzczegółyWypożyczeń">

        <label for="PassportId">Numer Paszportu:<sup style="color:#ff0000">*</sup></label>
        <input type="text" name="PassportId" value="FL86454" id="PassportId" disabled/>
        <span></span>

        <label for="CarId">Numer Samochodu:<sup style="color:#ff0000">*</sup></label>
        <input type="text" name="CarId" value="19874312" id="CarId" disabled/>
        <span></span>

        <label for="RentalDate">Data wynajęcia:<sup style="color:#ff0000">*</sup></label>
        <input type="text" name="RentalDate" value="16.11.2020" id="RentalDate" disabled/>
        <span></span>

        <label for="EndDate">Data oddania:<sup style="color:#ff0000">*</sup></label>
        <input type="text" name="EndDate" value="23.11.2020" id="EndDate" disabled/>
        <span></span>

        <label for="RentalPrice">Cena za wynajęcie:<sup style="color:#ff0000">*</sup></label>
        <input type="number" name="RentalPrice" value="300" id="RentalPrice" disabled/>
        <span></span>

    </form>

    <div class="form-buttons">
        <a href="rent-form.html" class="form-button-edit-detail"> Edytuj</a>
    </div>

    <div>
        <a href="rent-list.html" class="form-button-cancel">Powrót</a>
    </div>

    <a class="BackToTopHref" href="#top">
        <div class="BackToTop">
            ON THE TOP
        </div>
    </a>

</main>
<%- include('../../fragments/footer.ejs') %>