<%- include('../../fragments/header.ejs') %>

<main>
    <h2>Szczegóły produktu</h2>
    <form class="form" action="WyświetlSzczegółyProduktu">
        <label for="Nazwa">Nazwa:</label>
        <input type="text" name="Nazwa" id="Nazwa" value="Play Station 5" disabled />
        <span></span>

        <label for="TypProduktu">Typ produktu:</label>
        <input type="text" name="TypProduktu" id="TypProduktu" value="Konsola" disabled />
        <span></span>

        <label for="Gwarancja">Gwarancja (lata):</label>
        <input type="number" name="Gwarancja" id="Gwarancja" value="2" disabled />
        <span></span>

        <label for="Cena">Cena(zł):</label>
        <input type="number" name="Cena" id="Cena" value="2299" disabled />
        <span></span>

        <label for="Kolor">Kolor:</label>
        <input type="text" name="Kolor" id="Kolor" value="Bialo czarny" disabled />

        <div class="form-buttons">
            <a href="/samochod/add" class="form-button-edit-detail">Edytuj</a>
        </div>


    </form>

    <h2>Szczegóły pozycji zamówień</h2>
    <table class="table-list tableList-details">
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Rabat</th>
                <th>Ilosc</th>
                <th>Nazwisko</th>
            </tr>
        </thead>
        <tr>
            <td>Play Station 5</td>
            <td>5%</td>
            <td>1</td>
            <td>Kowalski</td>
        </tr>
        <tr>
            <td>Nintendo Switch</td>
            <td>7%</td>
            <td>3</td>
            <td>Nowak</td>
        </tr>
        <tr>
            <td>Corsair K55 RGB</td>
            <td>Brak</td>
            <td>1</td>
            <td>Brzęczyszczykiewicz</td>
        </tr>

        <tbody>

        </tbody>
    </table>

    <div class="form-buttons">
        <a class="form-button-cancel-detail" href="/Produkty">Powrót</a>
    </div>



</main>

<%- include('../../fragments/footer.ejs') %>