<%- include('../../fragments/header.ejs') %>

<main>
    <h1>Szczegóły samochodu</h1>

    <form class="form" action="SzczegółySamochodu">

        <label for="ID">Numer Samochodu:<sup style="color:#ff0000">*</sup></label>
        <input type="text" name="ID" value="19874312" id="ID" disabled />
        <span></span>


        <label for="Brand">Marka:<sup style="color:#ff0000">*</sup></label>
        <input type="text" name="Brand" value="Tesla" id="Brand" disabled />
        <span></span>


        <label for="Model">Model:<sup style="color:#ff0000">*</sup></label>
        <input type="text" name="Model" value="Model s" id="Model" disabled />
        <span></span>


        <label for="YearOfManufacture">Rok produkcji:<sup style="color:#ff0000">*</sup></label>
        <input type="text" name="YearOfManufacture" value="2020" id="YearOfManufacture" disabled />
        <span></span>


        <label for="PricePerDay">Cena za dzień:<sup style="color:#ff0000">*</sup></label>
        <input type="text" name="PricePerDay" value="150" id="PricePerDay" disabled />
        <span></span>

        <div class="form-buttons">
            <a href="cars_form.html" class="form-button-edit-detail">Edytuj</a>
        </div>
    </form>


    <h1>Szczegóły wypożyczeń samochodu</h1>

    <table class="table-list">
        <thead>
        <tr>
            <th>Numer Paszportu</th>
            <th>Data wynajęcia</th>
            <th>Data oddania</th>
            <th>Cena za wynajęcie</th>
        </tr>
        </thead>

        <tr>
            <td  data-label="Numer Paszportu">FL86454</td>
            <td  data-label="Data wynajęcia">09.11.2020</td>
            <td  data-label="Data oddania">11.11.2020</td>
            <td  data-label="Cena za wynajęcie">300</td>
        </tr>

        <tr>
            <td  data-label="Numer Paszportu">FL86454</td>
            <td  data-label="Data wynajęcia">24.11.2020</td>
            <td  data-label="Data oddania">27.11.2020</td>
            <td  data-label="Cena za wynajęcie">450</td>
        </tr>

        <tbody>

        </tbody>
    </table>

    <div class="form-buttons">
        <a href="cars_list.html" class="form-button-cancel-detail">Powrót</a>
    </div>


    <a class="BackToTopHref" href="#top">
        <div class="BackToTop">
            ON THE TOP
        </div>
    </a>

</main>

<%- include('../../fragments/footer.ejs') %>